@model Restaurant.Domain.DTO.AddToShoppingCardDto


@{
    ViewData["Title"] = "Add To Shopping Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Add Selected Product to User Shopping Card:</h1>


<hr />

<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="AddProductToCard" method="post">
            <input type="hidden" asp-for="FoodId" />
            <div class="form-group">
                <label asp-for="SelectedFood.Name"></label>
                <input disabled asp-for="SelectedFood.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> 