@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ItalianRestaurantAdmin_App.Models.Order

<div class="container">

    <p>
        <a class="btn btn-success">@Model.User.UserName</a>
    </p>

    @for (int i = 0; i < Model.FoodInOrders.Count(); i++)
    {
        var item = Model.FoodInOrders.ElementAt(i).OrderedFood;

        if (i % 3 == 0)
        {
            @:<div class="row">
            }

            <div class="col-md-3 m-4">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" style="height: 70%" src="@item.Image" alt="Card image cap">
                    <div class="card-body">
                        <h3>@item.Name</h3>
                        <p>@item.Description</p>
                    </div>

                </div>
            </div>

            if (i % 3 == 2)
            {
            @:</div>
        }

    }
</div>